/*
 * Whoopey! Colours, ponies and some secrets.
 *
 * A simple supposed-to-be-readable in the sunlight, solarized-inspired
 * and funny stylesheet.
 */

* {
	font-family: "Gentium Basic", Arial, serif;
	font-size: 105%;
}

a { color: #859900 }

/* navigation */
#topnav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2em;
	background-color: #859900;
}

#topnav * a { color: #fdf6e3 }

#topnav ul {
	padding: 0;
	margin: 0 20%;
	margin-top: 0.5em;
	list-style-type: none;
}

#topnav ul li:first-child {
	margin: 0; padding: 0;
	padding-right: 1.5%;
	border: none;
}

#topnav ul li svg {
	vertical-align: middle;
	margin-top: -1ex;
}

#topnav ul li:hover svg { fill: #fdf6e3 }

#topnav ul li {
	float: left;
	margin-right: 1.5%;
	padding-left: 1.5%;
	border-left: dotted #000 1px;
}

#topnav ul li:last-child {
	border-right: none;
}

/* articles */
#rambling {
	margin: 0 20%;
	margin-top: 3.5em;
}

article .article-meta {
	visibility: hidden;
	opacity: 0.0;
}

article:hover .article-meta {
	visibility: visible;
	opacity: 1.0;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
	font-size: smaller;
	color: grey;
}

/* footer */
#feet {
	position: absolute;
	bottom: 0;
	margin: 0 30%;
	font-size: x-small;
	color: grey;
}
