
<footer id="feet">
	<p><del>All</del> Most of this is <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC by-nc-sa</a>.
	See <a href="./sharing">this page</a> for more legal blurp (and a pony).</p>
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28771307-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
